.header {
	font-size: 30px;
	font-weight: bold;
}

.items {
	margin-top: 15px;
	font-size: 22px;
	font-weight: bold;
}

.bold {
	font-weight: bold;
	font-size: 15px;
}

.refer{
	margin-left: 40px;
}

.copyright{
	margin-top: 15px;
}

.list {
	margin-top: 15px;
	margin-left: 20px;
}

ol {
	margin: 0;
}